.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    overflow-x: hidden;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
  
  .feedbackItem {
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }