.paragraph{
    display: flex;
    font-size: 48px;
    line-height: 1;
    max-width: 1280px;
    color: white;
    flex-wrap: wrap;
    .word{
      position: relative;
      margin-right: 12px;
      margin-top: 12px;
      .shadow{
        position: absolute;
        opacity: 20%;
      }
    } 
  }