@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000000;
    color: #FFFFFF;
}

@font-face{
    font-family: 'PPRader';
    src: url('../public/fonts/PPRader-Regular.ttf');
}

.slick-track{
    display: flex !important;
    align-items: center;
}